<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "spots/admin_index", :media => "all" %>

<main class="main">
  <div class="for-background">
    <div class="container-wrapper">
        <div class="containers">
            <div class="page-title">
                <h2>スポット一覧(管理者用)</h2>
            </div>
            <div class="spot-all">
                <%= @spots.first(10).each do |spot| %>
                  <ul>
                    <li class="spot-container">
                        <div class="left-contents">
                            <div class="spot-image">スポット画像</div> <!-- 登録されている画像の１枚目のみを抜き出す -->
                        </div>
                        <div class="right-contents">
                            <div class="up-contents">
                                <p class="spot-name">スポット名</p>
                                <p class="country">国名</p>
                                <span>
                                    <%= link_to admin_show_spot_path(spot) do %>
                                        <i class="fas fa-book-open">詳細</i>
                                    <% end %>
                                </span>
                                <span>
                                    <%= link_to admin_edit_spot_path(spot) do %>
                                        <i class="far fa-edit">編集</i>
                                    <% end %>
                                </span>
                            </div>
                            <div class="down-contents">
                                <div class="transportation">交通手段</div>
                                <div class="tourism-level">観光難易度</div>
                                <div class="good-season-start">おすすめ時期(開始)</div>
                                <div class="good-season-end">おすすめ時期(終了)</div>
                                <div class="like-comments-count">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i> <!--アイコン+数字にて表示 -->
                                </div>
                            </div>
                        </div>
                    </li>
                  </ul>
                <% end %>
            </div>
            <div class="pagination">
            	<%= paginate @spots %>
            	<%= @spots.total_count %>件中<%= @spots.offset_value + 1 %>〜<%= @spots.offset_value + @spots.length %>件を表示しています。
            </div>
        </div>
    </div>
  </div>
</main>