<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "spots/show", "custom", :media => "all" %>
<%= javascript_include_tag "spots/map.js" %>

<body data-turbolinks="false">
<main class="main">
  <div class="for-background">
    <div class="container-wrapper">
        <div class="containers">
          <!-- bootstrap にてスライドショーを実装 -->
          <div class="top-container carousel slide" id="sampleCarousel" data-ride="carousel">
            <div class="spot-images carousel-inner" role="listbox">
              <% @spot.spot_images.each_with_index do |image, i| %>
                <% if i == 0 %>
                  <div class="item active">
                    <%= attachment_image_tag image, :image, class: 'slide-image' %>
                  </div>
                <% else %>
                  <div class="item">
                    <%= attachment_image_tag image, :image, class: 'slide-image' %>
                  </div>
                <% end %>
              <% end %>
              <div id="spot-name">
                <%= @spot.spot_name %>
              </div>
              <div class="spot-introduce">
                <%= @spot.spot_introduce %>
              </div>
            </div>
            <a class="left carousel-control" href="#sampleCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">前へ</span>
            </a>
            <a class="right carousel-control" href="#sampleCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">次へ</span>
            </a>
          </div>
          <div class="main-container">
            <div class="first-contents icons">
              <% if user_signed_in? %>
                <!-- Ajaxにていいね機能を実装 -->
                <div class="likes icon" id="likes_buttons_<%= @spot.id %>">
                 <%= render partial: 'likes/like', locals: { spot: @spot, likes: @likes} %>
                </div>
                <div class="comments icon">
                  <%= link_to new_spot_like_comment_path(@spot) do %>
                    <i class="fa fa-commenting-o fa-3x" aria-hidden="true"></i>
                  <% end %>
                </div>
                <div class="twitter icon"> <!-- 具体的なspotを投稿後に、仮保存記事「Twitterの投稿機能を連携する」を参照しながら実装 -->
                  <%= link_to "http://twitter.com/share?url=https:ここに共有したいURLの中身を入れる&text=#{@spot.spot_name}の絶景がすごい！", :target =>"_blank", :rel => "nofollow" do %>
                    <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                  <% end %>
                </div>
                <div class="facebook icon">
                  <%= link_to "http://www.facebook.com/share.php?u=「共有したいURL」&t=#{@spot.spot_name}の絶景がすごい！", :target => "_blank", :rel => "nofollow" do %>
                    <i class="fa fa-facebook-square fa-3x"aria-hidden="true"></i>
                  <% end %>
                </div>
                <div class="instagram icon">
                  <%= link_to "https://plus.google.com/share?url=「シェアするページのURL」", :target => "_blank", :rel => "nofollow" do %>
                    <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="second-contents pros-cons">
              <div class="spot-pros">
                <h3 class="pros-title">
                  <i class="fa fa-thumbs-up"></i>
                  <span>一押しポイント！！</span>
                  <i class="fa fa-thumbs-up"></i>
                </h3>
                <p class="pros-text"><%= @spot.spot_pros %></p>
              </div>
              <div class="spot-cons">
                <h3 class="cons-title">
                  <i class="fa fa-exclamation-circle"></i>
                  <span>ここがイマイチ...</span>
                  <i class="fa fa-exclamation-circle"></i>
                </h3>
                <p class="cons-text"><%= @spot.spot_cons %></p>
              </div>
            </div>
            <div class="third-contents">
              <div class="left about-spot">
                <h2 class="contents-title">基本情報
                  <% if administrator_signed_in? || (user_signed_in? && @spot.user_id == current_user.id) %>
                    <%= link_to edit_spot_path do %>
                      <i class="fa fa-edit"></i>
                    <% end %>
                  <% end %>
                </h2>
                <hr class="hr">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th>スポット名</th>
                        <td><%= @spot.spot_name %></td>
                      </tr>
                      <tr>
                        <th>オススメ時期</th>
                        <td><%= @spot.good_season_start %>月〜<%= @spot.good_season_end %>月</td>
                      </tr>
                      <tr>
                        <th>交通手段</th>
                        <% if @spot.transportation == "徒歩" %>
                          <td><%= image_tag "/transportations/walk.png", :size => "70x70", :alt => "徒歩" %></td>
                        <% elsif @spot.transportation == "自転車" %>
                          <td><%= image_tag "/transportations/bicycle.png", :size => "70x70", :alt => "自転車" %></td>
                        <% elsif @spot.transportation == "電車" %>
                          <td><%= image_tag "/transportations/train.png", :size => "70x70", :alt => "電車" %></td>
                        <% elsif @spot.transportation == "車" %>
                          <td><%= image_tag "/transportations/car.png", :size => "70x70", :alt => "車" %></td>
                        <% else @spot.transportation == "飛行機" %>
                          <td><%= image_tag "/transportations/airplane.png", :size => "70x70", :alt => "飛行機" %></td>
                        <% end %>
                      </tr>
                      <tr>
                        <th>交通手段の詳細</th>
                        <td><%= @spot.transportation_text %></td>
                      </tr>
                      <tr>
                        <th>観光難易度</th>
                        <% if @spot.tourism_level == "VeryEasy" %>
                          <td><%= image_tag "/tourism_levels/veryeasy_icon.png", :size => "70x70", :alt => "VeryEasy" %></td>
                        <% elsif @spot.tourism_level == "Easy" %>
                          <td><%= image_tag "/tourism_levels/easy_icon.png", :size => "70x70", :alt => "Easy" %></td>
                        <% elsif @spot.tourism_level == "Normal" %>
                          <td><%= image_tag "/tourism_levels/normal_icon.png", :size => "70x70", :alt => "Normal" %></td>
                        <% elsif @spot.tourism_level == "Hard" %>
                          <td><%= image_tag "/tourism_levels/hard_icon.png", :size => "70x70", :alt => "Hard" %></td>
                        <% else @spot.tourism_level == "VeryHard" %>
                          <td><%= image_tag "/tourism_levels/veryhard_icon.png", :size => "70x70", :alt => "VeryHard" %></td>
                        <% end %>
                      </tr>
                      <tr>
                        <th>難易度の理由</th>
                        <td><%= @spot.tourism_level_text %></td>
                      </tr>
                      <tr>
                        <th>マップ</th>
                        <td>
                          <div class="map_box01">
                            <div id="map-canvas">
                            </div>
                            <!-- 下記の２行でマップ上に目的地の矢印を反映 -->
                            <input type="hidden" id="lat" value="">
                            <input type="hidden" id="lng" value="">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="right like-comments">
                <h2 class="contents-title">口コミ</h2>
                <hr class="hr">
                <% if @like_comments.present? %>
                  <% @like_comments.first(3).each do |like_comment| %>
                    <ul>
                      <li class="comments-container">
                        <div class="user-image left-contents"><%= attachment_image_tag @user, :user_image, :fill, 80, 80 %></div>
                        <div class="right-contents">
                          <div class="comment-title"><%= like_comment.title %></div>
                          <!-- truncateメソッドで長い文字列を区切る -->
                          <div class="comment-text"><%= like_comment.text.truncate(60, omission: '...(続く)') %></div> 
                        </div>
                      </li>
                    </ul>
                  <% end %>
                  <p class="comment-all">
                    <%= link_to "口コミを全部見る(#{@like_comments.count}件)", spot_like_comments_path(@spot) %>
                  </p>
                <% else %>
                 <p> 口コミはまだありません。</p>
                 <p> 初めての<%= link_to "口コミ", new_spot_like_comment_path(@spot), class: 'link' %>を書き込みませんか？</p>
                <% end %>
              </div>
            </div>
        </div>
    </div>
  </div>
</main>

</body>