<% if user_signed_in? %>

  <% unless @spot.like_user(current_user.id).blank? %>
    <%= link_to spot_like_path(spot_id: @spot.id ,id: @spot.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <i class="fa fa-heart fa-3x" aria-hidden="true" style="color: red;"></i>
        <span class="red-text">
          <%= @spot.likes_count %>
        </span>
      </div>
    <% end %>
  <% else %>
    <%= link_to spot_likes_path(@spot.id), method: :post, remote: true do %>
      <div class="vertical_like">
        <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
        <span class="grey-text text-darken-2">
          <%= @spot.likes_count %>
        </span>
      </div>
    <% end %>
  <% end %>

<% else %>

  <% if @spot.likes_count > 0 %>
    <div class="vertical_like">
      <i class="fa fa-heart fa-3x" aria-hidden="true" style="color: red;"></i>
      <span class="red-text">
        <%= @spot.likes_count %>
      </span>
    </div>
  <% else %>
    <div class="vertical_like">
      <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
      <span class="grey-text text-darken-2">
        <%= @spot.likes_count %>
      </span>
    </div>
  <% end %>

<% end %>
