<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "users/show_comments", :media => "all" %>

<main class="main">
  <div class="for-background">
    <div class="container-wrapper">
        <div class="containers">
          <div class="top-container">
            <div class="left-contents">
              <div class="user-image">
                <% if @user.user_image %>
                  <%= attachment_image_tag @user, :user_image, :fill, 200, 200, format: 'jpeg' %>
                <% else %>
                  <%= image_tag "/anything/no_user_image.png", :size => "180x180", :alt => "ユーザー画像" %>
                <% end %>
              </div>
            </div>
            <div class="right-contents">
              <div class="user-name">
                <p class="title">ユーザー名</p>
                <p><%= @user.name %></p>
                </div>
              <div class="user-introduce">
                <p class="title">自己紹介</p>
                <% if @user.introduce.nil? %>
                  <p>まだ記入されていません</p>
                <% else %>
                  <p><%= @user.introduce %></p>
                <% end %>
              </div>
              <% if @user.id == current_user.id %>
                <div class="user-settting">
                  <%= link_to edit_user_path do %>
                    <i class="fa fa-cog fa-2x"></i> 編集
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="main-container">
            <div class="page-title">
            	<h2><%= link_to "いいね　一覧", user_show_likes_path %></h2>
            	<h2 class="now">口コミ　一覧</h2>
            </div>
            <div class="comments-all">
              <% if @like_comments.empty? %>
                <p>口コミがまだありません</p>
                <p><%= link_to "絶景", root_path, class: 'link' %>をみんなに共有してみませんか？</p>
              <% else %>
                <% @like_comments.first(5).each do |like_comment| %>
                <% spot = Spot.find(like_comment.spot_id) %>
                <% spot_image = SpotImage.find(spot.id) %>
                  <ul>
                    <li class="spots-container">
                    	<div class="left-contents">
                    		<div class="spot-image">
                          <%= link_to spot_path(spot.id) do %>
                            <%= attachment_image_tag spot_image, :image, :fill, 120, 120, format: 'jpeg' %>  
                          <% end %>
                        </div>
                    	</div>
                    	<div class="right-contents">
                    		<div class="upper-contents">
                    			<div class="comment-title"><%= like_comment.title %></div>
                          <% if like_comment.user_id == current_user.id %>
                      			<div class="edit">
                              <%= link_to edit_spot_like_comment_path(spot.id, like_comment.id) do %>
                                <i class="fa fa-edit fa-2x"></i>
                              <% end %>
                            </div>
                          <% end %>
                    		</div>
                    		<div class="lower-contents">
                    			<div class="comment-tezt"><%= like_comment.text %></div>
                    		</div>
                    	</div>
                    </li>
                  </ul>
                <% end %>
              <% end %>
            </div>
            <div class="pagination">
            	<%= paginate @like_comments %>
            	<%= @like_comments.total_count %>件中
              <% if @like_comments.present? %>
                <%= @like_comments.offset_value + 1 %>
              <% else %>
                <%= @like_comments.offset_value %>
              <% end %>
              〜<%= @like_comments.offset_value + @like_comments.length %>件を表示しています。
            </div>
          </div>
        </div>
    </div>
  </div>
</main>
