<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "users/registrations/new", :media => "all" %>
<%= javascript_include_tag "users/registrations/new.js" %>

<main class="main">
  <div class="for-background">
    <div class="container-wrapper">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="containers">
          <div class="form-title">
            <div class="sign-up active">
              新規登録
            </div>
            <div class="sign-in">
              <%= link_to "ログイン", new_user_session_path %>
            </div>
          </div>
          <div class="field">
            <%= f.label :name, "ユーザー名" %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "例：絶景マン", size: "30" %>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例：gotrip@trip.com", size: "30" %>
          </div>

          <div class="field">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", placeholder: "8文字以上", size: "30" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "パスワード確認" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワードを再入力", size: "30" %>
          </div>

          <div class="field text-left">
            <%= f.check_box :accepted ,{},checked_value = "true",unchecked_value = "false" %>
            <%= link_to "利用規約", root_path %>と<%= link_to "プライバシーポリシー", root_path %>に同意します。
          </div>

          <div type="submit" id="submit">
            <%= f.submit "新規登録" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
